.card-donation{
 background-color: rgb(138, 174, 83);
 width: 500px;
 height: 220px;
 margin-left: auto;
 margin-right: auto;
 margin-top: auto;
 margin-bottom: auto;
 text-align: justify;
 font-size: 6mm;
 border-radius: 10px;
 padding-right: 50px;
 padding-left: 50px;
 
 .donationtitle{
  text-align: center;
  font-size: 8mm;
  padding-top: 20px;
 }
 

}
.container-donationlist{
 margin-left: auto;
 margin-right: auto;
 height: auto;
 width: auto;
 text-align: center;
 border: none;
 margin-top: 50px;
 
}

.alldonationtitle{
 font-size: 9mm;
 margin-top: 30px;
 

}